*{
    margin: 0;
    padding: 0;
}


.main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont{
    height: 80%;
    width: 26%;
    /* background-color: red; */
    /* padding: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.head{
    font-size: 40px;
}

.rounded-sqr{
    width: 100%;
    height: 15%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 25%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    margin-right: 5px;
    margin-left: 5px;
    background-color: #e0e0e0;
}

.box2{
    margin-right: 5px;
    background-color: #6fcf97;
}

.box3{
    margin-right: 5px;
    background-color: #56ccf2;
}

.box4{
    margin-right: 5px;
    background-color: #bb6bd9;
}

.h2{
    width: 100%;
    height: 9%;
    background-color: black;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para{
    margin-top: 10px;
    padding: 10px;
    font-size: 19px;
    text-align: center;
}